
.about{
    display: flex;
    justify-content: center; 
    margin: 3rem ;

    .about-text{
        width: 50%;
        margin: 3rem;
        line-height: 1.6;
        
        h2{
            border-bottom: 1px solid rgb(168, 166, 166);
            text-align: left;
        }
        .why{
            font-family:'Edu TAS Beginner', cursive; 
        }
        ul{
            // margin-right: 1rem;
            // color: rgb(101, 99, 99);
            // padding-top: .1rem;
            list-style-type: square;
            margin: .5rem 1rem;
        }
        h3{
            border-bottom: 1px solid rgb(168, 166, 166);
            font-size: 1.5rem;
        }
    }
    .team-img{
        margin: 3rem ;
    }
}
.row2{
    max-width: 800px;
    margin: auto;
}
.mt{
    margin-top: 1rem;
}
.mb{
    margin-bottom: 1rem;
}
.mb2{
    margin-bottom: 2rem;
}
.mb3{
    margin-bottom: 3rem;
}

p{
    font-size: 1rem;
}
.ct{
    text-align: center;
}

a{
    text-decoration: none;
}



// ______________________________________________________________

@media screen and (max-width:760px) {
    .about{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
       

        .about-text{
            
            width: 85%;
            margin: auto;

            h2{
                font-size: 1rem;
            }
        }

        P{
            display: inline-block;
            width: 100%;
        }
    }
}