
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    // text-align: start;
    text-transform: capitalize;
    font-family:'Edu TAS Beginner', cursive;
    font-size: 2rem;
    
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}