h2{ 
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem auto;
    font-weight: bolder;
    font-size: 2rem;
}


.team-wrap{
    position: relative;

    &:hover{
        .team-footer{
            transform: translateY(-7rem);
            transition: all .55s ease-in;
            color: white;

            .social-icons-container{
                opacity: 1;
            }
        }

        
       
    }

    .preview-team{
        background: black;
        border-radius: 3px;
        border: 1px solid #829bb7be;
        overflow: hidden;
       
    }

    .team-footer{
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       line-height: 1.3;

       p{
           font-weight: bolder;
           font-size: 1.1rem;
           
       }

       .social-icons-container{
        display: flex;
        align-items: center;
        margin: 1rem;
        font-size: 1.2rem;
        opacity: 0;

        .social-icon{
            margin: 0 1rem;
            color: #f7f8f9;
            cursor: pointer;

            &:hover{
                color: rgba(186, 72, 72, 0.687);
            }

        }
    }
    }


   
}

.team-img{
    display: block;
    max-width: 30rem;
    max-height:20rem ;
    

    &:hover{
        display: block;
        max-width: 30rem;
        max-height:20rem ;
        cursor: pointer;
        object-fit: cover;
        opacity: 0.6;
       
    }
}


.team{
    background-color: #203040;
}
.team-section{
    background-color: #e0ebf7be;
    padding: 3rem 0;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}